
.metas {
  font-size: 14px;
  list-style-type: none;
  margin: 5px 0 0 5px;
  padding: 0;

  li {
    margin-bottom: 3px;
    position: relative;
    padding-left: 12px;

    &:list-child {
      margin-bottom: 0;
    }

    &:before {
      content: '•';
      position: absolute;
      left: 0;
    }
  }
}

.group-row {
  display: flex;
  align-items: center;
  width: 100%;

  .description {
    flex: 1;
  }

  .created {
    justify-content: flex-end;
    display: flex;
    align-items: center;

    fs-badge {
      display: flex;
      margin-right: 5px;
    }
  }
}

.meta {
  .audit-meta {
    + .audit-meta {
      margin-top: 10px;
    }
  }
}

:host ::ng-deep {
  .fs-list-row-group {
    background-color: #f0f0f0;
    
    td {
      border-radius: 7px;
      border: 0;
    }
  }
}