<fs-list [config]="config">
  <fs-list-column>
    <ng-template
        fs-list-group-cell
        let-row="row">
      <div class="group-row">
        <div class="description">
          @if (showSubject) {
            @if (subjectTemplate) {
              <ng-container
                [ngTemplateOutlet]="subjectTemplate"
                [ngTemplateOutletContext]="{ audit: row }">
              </ng-container>
            } @else {
              <ng-container
                [ngTemplateOutlet]="objectClassName"
                [ngTemplateOutletContext]="{ objectClass: row.subjectObject.class, objectClassName: row.subjectObject.className }">
              </ng-container>
              <div class="small object-name">
                {{ row.subjectObject.name }}
                @if (showObjectId) {
                  @if (row.subjectObject.name) {
                    &middot;
                  }
                  {{ row.subjectObject.id }}
                }
              </div>
            }
          }
        </div>
        <div class="created">
          @if (row.actorAccount?.avatar) {
            <fs-badge
              [size]="30"
              [image]="row.actorAccount.avatar.tiny">
            </fs-badge>
          }
          <small class="name-date">
            @if (row.actorAccount) {
              {{ row.actorAccount.name }}
            }
            <fs-date-ago [date]="row.date"></fs-date-ago>
          </small>
        </div>
      </div>
    </ng-template>
    <ng-template
        fs-list-cell
        let-row="row">
      <div class="meta">
        @for (auditMeta of row.auditMetas; track auditMeta) {
          <div class="audit-meta">
            <div class="action small">
              <ng-container
                [ngTemplateOutlet]="auditMetaActionName"
                [ngTemplateOutletContext]="{ auditMeta: auditMeta }">
              </ng-container>
              @switch (auditMeta.action) {
                @case (AuditMetaAction.Remove) {
                  <ng-container
                    [ngTemplateOutlet]="objectClassName"
                    [ngTemplateOutletContext]="{ objectClass: auditMeta.objectClass, objectClassName: auditMeta.objectClassName }">
                  </ng-container>
                }
                @case (AuditMetaAction.Add) {
                  <ng-container
                    [ngTemplateOutlet]="objectClassName"
                    [ngTemplateOutletContext]="{ objectClass: auditMeta.objectClass, objectClassName: auditMeta.objectClassName }">
                  </ng-container>
                }
                @default {
                  @if (auditMeta.objectId) {
                    <span>
                      <ng-container
                        [ngTemplateOutlet]="objectClassName"
                        [ngTemplateOutletContext]="{ objectClass: auditMeta.objectClass, objectClassName: auditMeta.objectClassName }">
                      </ng-container>
                    </span>
                    @if (auditMeta.objectName) {
                      <span>
                        : {{ auditMeta.objectName }}
                      </span>
                    }
                    @if (showObjectId) {
                      <span>
                        ({{ auditMeta.objectId }})
                      </span>
                    }
                  }
                }
              }
            </div>
            @if (auditMeta.metas.length) {
              <ul class="metas">
                @for (meta of auditMeta.metas; track meta) {
                  @if (meta.value || meta.name) {
                    <li class="meta-item">
                      {{ meta.name }}{{ meta.name && meta.value ? ': ' : '' }}
                      @if (meta.value) {
                        <fs-html-renderer [html]="meta.value"></fs-html-renderer>
                      }
                    </li>
                  }
                }
              </ul>
            }
          </div>
        }
      </div>
    </ng-template>
  </fs-list-column>
</fs-list>
<ng-template
    #objectClassName
    let-objectClass="objectClass"
    let-objectClassName="objectClassName">
  {{ objectClassNames[objectClass] || objectClassName || objectClass }}
</ng-template>
<ng-template
    #auditMetaActionName
    let-auditMeta="auditMeta">
  {{ auditMeta.actionName || auditMetaActionNames[auditMeta.action] || auditMeta.action }}
</ng-template>