<fs-list [config]="config">
  <fs-list-column>
    <ng-template fs-list-group-cell let-row="row">
      <div class="group-row">
        <div class="description">
          @if (showSubject) {
            @if (subjectTemplate) {
              <ng-container [ngTemplateOutlet]="subjectTemplate" [ngTemplateOutletContext]="{ audit: row }"></ng-container>
            } @else {
              {{row.subjectObject.className}}
              <div class="small object-name">
                <span>{{row.subjectObject.name}}</span>
                @if (showObjectId) {
                  @if (row.subjectObject.name) {
                    <span> (</span>
                  }
                  <span>{{row.subjectObject.id}}</span>
                  @if (row.subjectObject.name) {
                    <span>)</span>
                  }
                }
              </div>
            }
          }
        </div>
        <div class="created">
          @if (row.actorAccount?.avatar) {
            <fs-badge [size]="30" [image]="row.actorAccount.avatar.tiny"></fs-badge>
          }
          <small class="name-date">
            @if (row.actorAccount) {
              {{row.actorAccount.name}}
            }
            <div>
              <fs-date-ago [date]="row.date"></fs-date-ago>
            </div>
          </small>
        </div>
      </div>
    </ng-template>
    <ng-template fs-list-cell let-row="row">
      <div class="meta">
        @for (auditMeta of row.auditMetas; track auditMeta) {
          <div class="audit-meta">
            <div class="action small">
              @switch (auditMeta.action) {
                @case (AuditMetaAction.Remove) {
                  {{auditMetaActionNames[auditMeta.action] || auditMeta.action}} {{row.subjectObject.className}}
                }
                @case (AuditMetaAction.Add) {
                  {{auditMetaActionNames[auditMeta.action] || auditMeta.action}} {{row.subjectObject.className}}
                }
                @default {
                  {{auditMetaActionNames[auditMeta.action] || auditMeta.action}}
                  @if (auditMeta.objectId) {
                    <span>{{objectClassNames[auditMeta.objectClass] || auditMeta.objectClassName || auditMeta.objectClass}}</span>
                    @if (auditMeta.objectName) {
                      <span>: {{auditMeta.objectName}}</span>
                    }
                    @if (showObjectId) {
                      <span> ({{auditMeta.objectId}})</span>
                    }
                  }
                }
              }
            </div>
            @if (auditMeta.metas.length) {
              <ul class="metas">
                @for (meta of auditMeta.metas; track meta) {
                  @if (meta.value || meta.name) {
                    <li class="meta-item">
                      {{ meta.name }}{{ meta.name && meta.value ? ': ' : ''}}
                      @if (meta.value) {
                        <fs-html-renderer [html]="meta.value"></fs-html-renderer>
                      }
                    </li>
                  }
                }
              </ul>
            }
          </div>
        }
      </div>
    </ng-template>
  </fs-list-column>
</fs-list>
