<fs-examples [config]="config">
  <fs-example name="Audits with no actions" componentName="app-audits-no-actions">
    <app-audits-no-actions></app-audits-no-actions>
  </fs-example>

  <fs-example name="Audits with Add Note" componentName="app-audits">
    <app-audits></app-audits>
  </fs-example>

  <fs-example name="Audits with custom actions" componentName="app-audits-actions">
    <app-audits-actions></app-audits-actions>
  </fs-example>

  <fs-example name="Audits with custom actions and Add Note" componentName="app-audits-actions-note">
    <app-audits-actions-note></app-audits-actions-note>
  </fs-example>
</fs-examples>

